.MachineDetailPage img {
  width: 400px;
  margin-bottom: 20px;
}

.MachineDetailPage {
  text-align: center;
}

.MachineDetailPage h1 {
  margin: 20px;
}

.MachineDetailPage a {
  text-decoration: underline;
}

.MachineDetailPage div {
  margin: 10px;
}